<div
  @fadeInOutAnimation
  class="main-container"
  fxFlex="1 1 auto"
  fxLayout="row"
  fxLayoutAlign="center"
>
  <div
    class="main-content"
    fxFlex="1 1 auto"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="36px"
  >
    <div
      class="heading"
      fxLayout="column"
      fxLayoutGap="16px"
      fxLayoutAlign="center start"
    >
      <span class="headline"> Effortless global recruitment </span>
      <span class="sub-headline">Unlocking Talent, Without Boundaries</span>
      <div
        class="actions"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="24px"
      >
        <button mat-raised-button class="start" color="primary" routerLink="/root/applicants">
          Let's Start!
        </button>
      </div>
    </div>

    <div class="main-image-container">
      <img src="assets/main-image.svg" alt="" class="main-image" />
    </div>
  </div>
</div>
