<div
  class="main-container"
  fxFlex="1 1 auto"
  fxLayout="row"
  fxLayoutAlign="center"
>
  <div
    class="main-content"
    fxFlex="1 1 auto"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="36px"
  >
    <div
      class="heading main-anim-heading"
      fxLayout="column"
      fxLayoutGap="16px"
      fxLayoutAlign="center start"
    >
      <span class="headline">{{ 'main.headline' | translate }}</span>
      <span class="sub-headline">{{ 'main.subHeadline' | translate }}</span>
      <div
        class="actions"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="16px"
      >
        <button
          mat-flat-button
          color="primary"
          class="main-cta"
          routerLink="/root/applicants"
        >
          {{ 'main.start' | translate }}
        </button>
        <button
          mat-stroked-button
          class="main-cta-outline button--palette-secondary transition-all hover:bg-surface-container-low"
        >
          {{ 'main.explore' | translate }}
        </button>
      </div>
    </div>

    <div class="main-image-container main-anim-visual">
      <img src="assets/main-image.png" alt="" class="main-image" />
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap="8px"
        class="overlay"
      >
        <span class="overlay-title">{{ 'main.overlayTitle' | translate }}</span>
        <span class="overlay-subtitle">{{
          'main.overlaySubtitle' | translate
        }}</span>
      </div>
    </div>
  </div>
</div>
