@import 'colors';
@import 'variables';

.main-container {
  padding: 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;

  .main-content {
    .heading {
      .headline {
        font-size: 3.25rem;
        line-height: 3.25rem;
        font-weight: bold;
        color: $secondary-color;
      }

      .sub-headline {
        font-size: 1.5rem;
        color: $primary-color;
      }

      .actions {
        margin-top: 16px;
      }
    }

    .main-image-container {
      width: 32vw;
      height: auto;
      margin-right: -24px;

      .main-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}
