@let applicants = applicants$ | async;

<table mat-table [dataSource]="applicants ?? []">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'applicantList.name' | translate }}
    </th>
    <td mat-cell *matCellDef="let applicant">{{ applicant.name }}</td>
  </ng-container>

  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'applicantList.availability' | translate }}
    </th>
    <td mat-cell *matCellDef="let applicant">
      {{ applicant.availableFrom | localeDate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'applicantList.skills' | translate }}
    </th>
    <td mat-cell *matCellDef="let applicant">
      @for (skill of applicant.skills ?? []; track $index) {
        <button mat-button type="button" (click)="filterBySkill(skill)">
          {{ skill }}
        </button>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
