$black-1: #222;
$black-2: rgb(135, 140, 146);
$black-3: #adadad;
$black-4: #f2f2f2;
$green-1: #007748;
$green-2: #3ec988;
$green-3: #e3f6ed;
$base-color: #f2f2f0;
$primary-color: #ff66c4;
$secondary-color: #000;
$accent-color: #0088ce;
