<div class="applicants-container flex min-h-0 flex-1 flex-col">
  @let viewType = viewType$ | async;
  <div class="header flex flex-row items-center justify-between gap-6">
    <mat-form-field appearance="outline" class="min-w-0 flex-1">
      <mat-label>{{ 'applicants.searchLabel' | translate }}</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [value]="globalFilter$ | async"
        [placeholder]="'applicants.searchPlaceholder' | translate"
      />
    </mat-form-field>
    <button
      mat-flat-button
      class="shrink-0 whitespace-nowrap"
      (click)="openForm()"
    >
      {{ 'applicants.newApplicant' | translate }}
    </button>
  </div>
  <div class="content flex flex-col gap-6">
    <div class="options flex justify-center">
      <mat-button-toggle-group
        [value]="viewType"
        (change)="toggleView($event.value)"
        [attr.aria-label]="'applicants.viewToggle' | translate"
      >
        <mat-button-toggle [value]="viewTypes.GRID">
          {{ 'applicants.gridView' | translate }}
        </mat-button-toggle>
        <mat-button-toggle [value]="viewTypes.LIST">
          {{ 'applicants.listView' | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngIf="viewType === viewTypes.GRID">
      <app-applicant-grid></app-applicant-grid>
    </div>

    <div *ngIf="viewType === viewTypes.LIST">
      <app-applicant-list></app-applicant-list>
    </div>
  </div>
</div>
