<div class="applicants-container" fxFlex="1 1 auto" fxLayout="column">
  <mat-button-toggle-group
    [value]="viewType$ | async"
    (change)="toggleView($event.value)"
    aria-label="View toggle"
  >
    <mat-button-toggle [value]="viewTypes.GRID">Grid View</mat-button-toggle>
    <mat-button-toggle [value]="viewTypes.LIST">List View</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="(viewType$ | async) === viewTypes.GRID">
    <app-applicant-grid></app-applicant-grid>
  </div>

  <div *ngIf="(viewType$ | async) === viewTypes.LIST">
    <app-applicant-list></app-applicant-list>
  </div>
</div>
