<div class="grid-container flex flex-row flex-wrap gap-4">
  <mat-card
    *ngFor="let applicant of applicants"
    class="grid-item mat-elevation-z3"
  >
    <mat-card-header>
      <mat-card-title>{{ applicant.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ 'applicants.availableFrom' | translate }}:
        {{ applicant.availableFrom | localeDate }}
      </p>
      <div>
        <span>{{ 'applicants.skills' | translate }}:</span>
        <button
          mat-button
          *ngFor="let skill of applicant.skills"
          (click)="onSkillClick(skill)"
        >
          {{ skill }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
