<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <logger name="com.tngtech.archunit" level="ERROR"/>
  <logger name="org.springframework.test.context.support.AnnotationConfigContextLoaderUtils" level="WARN"/>
  <logger name="org.springframework.boot.test.context.SpringBootTestContextBootstrapper" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
</configuration>
