$mat-primary-palette: (
  50: #e0eff9,
  100: #b3d6f0,
  200: #80bbe7,
  300: #4d9fdd,
  400: #268bd5,
  500: #0076ce,
  600: #006ec9,
  700: #0063c2,
  800: #0059bc,
  900: #0046b0,
  A100: #dae6ff,
  A200: #a7c3ff,
  A400: #74a1ff,
  A700: #5a90ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-accent-palette: (
  50: #e0f1f9,
  100: #b3dbf0,
  200: #80c4e7,
  300: #4dacdd,
  400: #269ad5,
  500: #0088ce,
  600: #0080c9,
  700: #0075c2,
  800: #006bbc,
  900: #0058b0,
  A100: #daeaff,
  A200: #a7cdff,
  A400: #74b0ff,
  A700: #5aa2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-error-palette: (
  50: #fff1ed,
  100: #ffddd3,
  200: #ffc6b6,
  300: #ffaf99,
  400: #ff9e83,
  500: #ff8d6d,
  600: #ff8565,
  700: #ff7a5a,
  800: #ff7050,
  900: #ff5d3e,
  A100: #fff,
  A200: #fff,
  A400: #ffeae6,
  A700: #ffd4cd,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
