$_palettes: (
  primary: (
    0: #000000,
    10: #3c0029,
    20: #610045,
    25: #750054,
    30: #890063,
    35: #9d0672,
    40: #ad1d7f,
    50: #cd3c99,
    60: #ed57b5,
    70: #ff7fca,
    80: #ffaed8,
    90: #ffd8e9,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #3c0029,
    20: #571740,
    25: #65224b,
    30: #722e57,
    35: #803a63,
    40: #8e4570,
    50: #ab5e89,
    60: #c977a4,
    70: #e790bf,
    80: #ffaed8,
    90: #ffd8e9,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #380d00,
    20: #5b1b00,
    25: #6d2200,
    30: #802a00,
    35: #943100,
    40: #a83900,
    50: #ca501a,
    60: #ec6932,
    70: #ff8c5e,
    80: #ffb59a,
    90: #ffdbce,
    95: #ffede7,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #24181e,
    20: #3a2d33,
    25: #45383e,
    30: #514349,
    35: #5d4e55,
    40: #6a5a61,
    50: #84737a,
    60: #9e8c93,
    70: #b9a6ae,
    80: #d6c1c9,
    90: #f2dde5,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
    4: #150b10,
    6: #1b1016,
    12: #281c22,
    17: #33262c,
    22: #3e3137,
    24: #43353c,
    87: #ead5dd,
    92: #f8e3eb,
    94: #fee8f0,
    96: #fff0f4,
  ),
  neutral-variant: (
    0: #000000,
    10: #27171f,
    20: #3e2b34,
    25: #49363f,
    30: #55414b,
    35: #624c57,
    40: #6e5863,
    50: #88717b,
    60: #a38a95,
    70: #bfa4b0,
    80: #dbbfcb,
    90: #f8dbe7,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
