<mat-card class="applicant">
  <mat-card-header>
    <mat-card-title>{{applicant?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="applicants" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-icon class="avatar">
      person
    </mat-icon>

    <mat-chip-list class="skills">
      <ng-container *ngFor="let skill of applicant?.skills">
        <mat-chip>
          {{skill}}
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions class="actions" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="availability">
      Ab: {{applicant?.availability}}
    </div>
    <button mat-icon-button color="primary" class="main-action" (click)="delete()">
      <mat-icon class="material-icons-outlined">
        delete
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
