<mat-card class="applicant">
  <mat-card-header>
    <mat-card-title>{{ applicant.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content
    class="applicants flex flex-col items-center justify-center gap-4"
  >
    <mat-icon class="avatar"> person </mat-icon>

    <mat-chip-grid class="skills">
      <ng-container *ngFor="let skill of applicant?.skills">
        <mat-chip>
          {{ skill }}
        </mat-chip>
      </ng-container>
    </mat-chip-grid>
  </mat-card-content>
  <mat-card-actions class="actions flex flex-row items-center justify-between">
    <div class="availability">
      {{ 'applicantCard.availablePrefix' | translate }}
      {{ applicant.availableFrom | localeDate }}
    </div>
    <button
      mat-icon-button
      color="primary"
      class="card__action-end"
      (click)="delete()"
    >
      <mat-icon class="material-icons-outlined"> delete </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
