<div class="root-container" fxFlex="1 1 auto" fxLayoutAlign="center">
  <div class="root-content" fxFlex="1 1 auto" fxLayout="column">
    <div
      @fadeInOutAnimation
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="header"
    >
      <div class="logo"></div>

      <div class="nav-container">
        <nav
          mat-tab-nav-bar
          class="main-nav"
          [tabPanel]="tabPanel"
          disablePagination
          color="accent"
        >
          @for (link of navLinks; track link) {
            <a
              mat-tab-link
              class="tab-link"
              routerLinkActive
              #mainNavbar="routerLinkActive"
              [active]="mainNavbar.isActive"
              [routerLink]="link.link"
            >
              {{ link.label }}
            </a>
          }
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      </div>
    </div>

    <div class="full-container" fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </div>
    <footer
      @fadeInOutAnimation
      fxLayout="row nowrap"
      fxLayoutAlign="center center"
      class="footer"
    >
      ©2024 Elrakaiby
    </footer>
  </div>
</div>
