<div
  @fadeInOutAnimation
  class="full-container"
  fxLayout="column"
  fxLayoutGap="32px"
>
  <div
    class="header -dialog"
    fxLayout="row"
    fxLayoutGap="16px"
    fxLayoutAlign="space-between center"
  >
    <span class="title">{{ 'newApplicant.title' | translate }}</span>
    <div class="close-action-container">
      <button mat-icon-button type="button">
        <mat-icon class="icon close-action" (click)="dismissAction()"
          >close</mat-icon
        >
      </button>
    </div>
  </div>
  <div class="body" fxLayout="column">
    <div class="content" fxLayout="column" fxLayoutGap="5px">
      <form
        class="form -no-bottom-padding -dialog"
        [formGroup]="fgNewApplicant"
        fxLayout="column"
        fxLayoutAlign="center center"
        (submit)="submitDataAction()"
      >
        <div class="inputs" fxLayout="column" fxLayoutGap="5px">
          <div class="group" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>{{ 'newApplicant.firstName' | translate }}</mat-label>

              <input
                matInput
                [attr.aria-label]="'newApplicant.firstName' | translate"
                type="text"
                formControlName="firstName"
                required
              />
            </mat-form-field>
          </div>
          <div class="group" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="outline" class="custom-form-field">
              <mat-label>{{ 'newApplicant.lastName' | translate }}</mat-label>

              <input
                matInput
                [attr.aria-label]="'newApplicant.lastName' | translate"
                id="name"
                type="text"
                formControlName="lastName"
                required
              />
            </mat-form-field>
          </div>
          <div class="group" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'newApplicant.skills' | translate }}</mat-label>
              <mat-chip-grid #chipList>
                <mat-chip
                  *ngFor="let skill of skills"
                  (removed)="removeSkill(skill)"
                >
                  {{ skill }}
                  <button matChipRemove type="button">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  [placeholder]="'newApplicant.skillPlaceholder' | translate"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="newSkill($event)"
                />
              </mat-chip-grid>
            </mat-form-field>
          </div>
          <div class="group" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="outline">
              <mat-label>{{
                'newApplicant.availableFrom' | translate
              }}</mat-label>
              <input
                matInput
                [matDatepicker]="datepicker"
                formControlName="availableFrom"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel type="button">
                    {{ 'newApplicant.cancel' | translate }}
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    matDatepickerApply
                    type="button"
                  >
                    {{ 'newApplicant.apply' | translate }}
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <button
          mat-raised-button
          class="submit"
          color="primary"
          type="submit"
          [disabled]="!fgNewApplicant.valid"
          (click)="submitDataAction()"
        >
          {{ 'newApplicant.submit' | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
