.mat-card {
  --mat-card-container-shape: 0;
  padding: 0 !important;
  min-width: 12rem;
  max-width: 20rem;
  cursor: pointer;

  .mat-card-header {
    padding: 1rem;
    border-bottom: 1px solid var(--app-color-border-subtle);
    justify-content: center;

    .mat-card-title {
      margin: 0 !important;
      font-size: 1.125rem !important;
      color: var(--app-color-text-headline) !important;
    }
  }

  .mat-card-content {
    padding: 1rem;
    border-bottom: 1px solid var(--app-color-border-subtle);
    margin-bottom: 0 !important;

    .avatar {
      width: auto;
      height: auto;
      font-size: 3rem;
      color: var(--app-color-primary);
    }
  }

  .mat-card-actions {
    margin: 0;
    padding: 0 0 0 1rem;

    .availability {
      color: var(--app-color-text-body);
      font-size: 0.875rem;
      font-style: italic;
    }

    .card__action-end {
      align-self: flex-end;
    }
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow:
      0 5px 5px -3px rgb(0 0 0 / 20%),
      0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%) !important;
  }
}
