.mat-toolbar {
  background: var(--app-color-surface-base) !important;
  color: var(--app-color-primary) !important;
  padding: 0 var(--app-space-md) !important;
  height: var(--app-size-page-header-height) !important;
  position: relative;
  box-shadow: none;

  .logo {
    cursor: pointer;
  }
}
