<div class="match-candidates-container flex min-h-0 flex-1 flex-col">
  <header class="match-candidates__header flex flex-col gap-1">
    <h1 class="match-candidates__title">
      {{ 'match.pageTitle' | translate }}
    </h1>
    <p class="match-candidates__subtitle">
      {{ 'match.intro' | translate }}
    </p>
  </header>

  <div
    class="match-candidates__content content flex min-h-0 flex-1 flex-col gap-6"
  >
    <p class="match-candidates__placeholder">
      {{ 'match.placeholder' | translate }}
    </p>
  </div>
</div>
